<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>REACT - YouTube Killer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ app.request_stack.masterRequest.basepath }}/css/flatly-bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{ app.request_stack.masterRequest.basepath }}/css/main.css">
</head>
<body>
	<main id="appContainer"></main>

	<script type="text/javascript">
		var config = {
			basePath: "{{ app.request_stack.masterRequest.basepath }}",
			apiPath: "{{ app.request_stack.masterRequest.basepath }}/api"
		};
	</script>
	<script src="{{ app.request_stack.masterRequest.basepath }}/js/app.bundle.js" charset="utf-8"></script>
</body>
</html>